<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.Title}} - {{.PageName}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

<body>
    <div id="page-container">
        <div id="header-container">
            {{template "header" .}}
        </div>
        <div id="content-container">
            {{template "content" .}}
        </div>
        <div id="footer-container">
            {{template "footer" .}}
        </div>
    </div>
</body>

</html>
