{{define "content"}}
<h1>Projects list</h1>
<h2>Here you can find the list of all created projects</h2>
<a href="/projects/new" class="text-full-width">Create a new project</a>
<fieldset>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{range .Projects}}
            <tr>
                <td>
                    <a href="/projects/view?Name={{.Name}}">{{.Name}}</a></td>
                <td>{{.CreationDate.Format "02/01/2006 - 15:04:05" }}</td>
                <td>
                    <a href="/projects/delete?Name={{.Name}}">x</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</fieldset>
{{end}}
